<h3>
    Hello {{ user.name }}, please confirm your e-mail address.
</h3>

<p>
    Please confirm your e-mail address by clicking <a href="{{ url('default_confirm_token', {'token': user.confirmationToken}) }}">this link</a>
</p>